<div class="dashboard-wrapper">
  <div class="dashboard-header">
    <div class="dashboard-title">Todos Dashboard</div>
    <div class="create-btn">
      <app-button
        [config]="createBtnConfig"
        (onClick)="onAddTodo('todo')"
      ></app-button>
    </div>
  </div>
  <div class="todo-lanes" cdkDropListGroup>
    <div class="todo-lane-item">
      <div class="lane-header">
        <div class="todo-category">Todo</div>
        <div class="todo-create-btn">
          <button matRipple (click)="onAddTodo('todo')">
            <mat-icon>add</mat-icon>
          </button>
        </div>
      </div>
      <div
        class="lane-body"
        cdkDropList
        #todoList="cdkDropList"
        [cdkDropListData]="todo"
        [cdkDropListConnectedTo]="[inprogressList, completedList]"
        (cdkDropListDropped)="drop($event)"
      >
        @for (item of todo; track $index) {
        <div class="todo-item-wrapper" cdkDrag>
          <div class="drag-placeholder" *cdkDragPlaceholder></div>
          <app-todo-item [data]="item" />
        </div>
        }
      </div>
    </div>

    <div class="todo-lane-item">
      <div class="lane-header">
        <div class="todo-category">Inprogress</div>
        <div class="todo-create-btn">
          <button matRipple (click)="onAddTodo('inprogress')">
            <mat-icon>add</mat-icon>
          </button>
        </div>
      </div>
      <div
        class="lane-body"
        cdkDropList
        #inprogressList="cdkDropList"
        [cdkDropListData]="inprogress"
        [cdkDropListConnectedTo]="[completedList, todoList]"
        (cdkDropListDropped)="drop($event)"
      >
        @for (item of inprogress; track $index) {
        <div class="todo-item-wrapper" cdkDrag>
          <div class="drag-placeholder" *cdkDragPlaceholder></div>
          <app-todo-item [data]="item" />
        </div>
        }
      </div>
    </div>

    <div class="todo-lane-item">
      <div class="lane-header">
        <div class="todo-category">Completed</div>
        <div class="todo-create-btn">
          <button matRipple (click)="onAddTodo('completed')">
            <mat-icon>add</mat-icon>
          </button>
        </div>
      </div>
      <div
        class="lane-body"
        cdkDropList
        #completedList="cdkDropList"
        [cdkDropListData]="completed"
        [cdkDropListConnectedTo]="[inprogressList, todoList]"
        (cdkDropListDropped)="drop($event)"
      >
        @for (item of completed; track item) {
        <div class="todo-item-wrapper" cdkDrag>
          <div class="drag-placeholder" *cdkDragPlaceholder></div>
          <app-todo-item [data]="item" />
        </div>
        }
      </div>
    </div>
  </div>
</div>
