.dashboard-wrapper {
  background-color: #fff;
  border-radius: 3rem;
  padding: 3rem;
  .dashboard-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .dashboard-title {
      font-size: 3rem;
      font-weight: 700;
    }
    .create-btn {
      ::ng-deep app-button button {
        background-color: #7249e2;
        color: #fff;
        border-radius: 100px;
      }
      ::ng-deep app-button button .mdc-button__label {
        column-gap: 0.3rem;
      }
    }
  }
  .todo-lanes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 1.5rem;
    column-gap: 2.5rem;
    margin-top: 1.5rem;
    .todo-lane-item {
      .lane-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .todo-category {
          font-size: 1.8rem;
          font-weight: 300;
        }
        .todo-create-btn {
          button {
            cursor: pointer;
            padding: 0.5rem;
            outline: none;
            border: none;
            background: #f2f6fe;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
          }
        }
      }
    }
  }
}
