<mat-drawer-container class="example-container">
  <mat-drawer #drawer class="example-sidenav sidenav" mode="side" opened>
    <div class="top-logo">
      <mat-icon>fact_check</mat-icon>
      <span class="todos-title"> todos </span>
    </div>
    <div class="nav-items">
      <a
        class="item"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLink="/"
      >
        <mat-icon>home</mat-icon>
      </a>
      <a class="item" routerLinkActive="active" routerLink="/notifications">
        <mat-icon>notifications</mat-icon>
      </a>

      <a class="item" routerLinkActive="active" routerLink="/urgent">
        <mat-icon>schedule</mat-icon>
      </a>

      <a class="item" routerLinkActive="active" routerLink="/profile">
        <mat-icon>person</mat-icon>
      </a>
      <a class="item" routerLinkActive="active" routerLink="/settings">
        <mat-icon> settings </mat-icon>
      </a>
    </div>
    <div class="bottom-logout-icon">
      <div class="item">
        <mat-icon>logout</mat-icon>
      </div>
    </div>
  </mat-drawer>

  <div class="example-sidenav-content">
    <ng-content></ng-content>
  </div>
</mat-drawer-container>
