.wrapper-header {
  .main-top-header {
    display: flex;
    align-items: center;
    .toggle-hamburger {
      mat-icon {
        font-size: 2.2rem;
      }
    }
    .global-search-wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      .input-search-wrapper {
        display: flex;
        align-items: center;
        input {
          border-radius: 10rem;
          padding: 1rem;
          border: none;
          outline: none;
          background-color: #fff;
        }
      }
      .profile-section {
        .avatar {
          display: flex;
        }
      }
    }
  }
}
