<div class="wrapper-header">
  <header class="main-top-header">
    <div class="toggle-hamburger">
      <button mat-icon-button (click)="toggleDrawer()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
    <div class="global-search-wrapper">
      <div class="input-search-wrapper">
        <input
          type="text"
          placeholder="Type here to search.."
          name="search"
          [formControl]="searchForm.get('search')"
        />
      </div>
    </div>
  </header>
</div>
