<div class="wrapper-header">
  <header class="main-top-header">
    <div class="toggle-hamburger">
      <button mat-icon-button (click)="toggleDrawer()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
    <div class="global-search-wrapper">
      <div class="input-search-wrapper">
        <mat-icon>search</mat-icon>
        <input
          type="text"
          placeholder="Type here to search anything..."
          name="search"
          [formControl]="searchForm.get('search')"
        />
      </div>
      <div class="profile-section">
        <div class="avatar">
          <app-avatar></app-avatar>
        </div>
      </div>
    </div>
  </header>
</div>
