<div class="accounts-wrapper">
  <div class="right">
    <div class="content-box">
      <div class="title">{{ info.title }}</div>
      <div class="subtitle">{{ info.subtitle }}</div>
      <div class="desc">
        {{ info.desc }}
      </div>
    </div>
  </div>
  <div class="left">
    <div class="main-title">Todos</div>
    <hr />
    <div class="login-title">
      <mat-icon>web_asset</mat-icon>
      Welcome!
      <mat-icon>cloud_download</mat-icon>
      Please
      <mat-icon>lock_open</mat-icon>
      {{ info.mode === "login" ? "Signin!" : "Register!" }}
    </div>
    @if(info.mode === 'login') {
    <form class="login-form" (ngSubmit)="onLoginSubmit()">
      @for (key of objectKeys(loginFormConfig); track key) {
      @if(loginFormConfig[key].field === 'input') {
      <app-input [config]="loginFormConfig[key]" />
      } @else if (loginFormConfig[key].field === 'checkbox') {
      <div class="remember-me-section">
        <app-checkbox [config]="loginFormConfig[key]"></app-checkbox>
      </div>
      } }
      <div class="signup-info">
        Don't have an account? You can create one from
        <a class="link" (click)="toggleLoginSignupForm()"> here </a>
      </div>
      <app-button [config]="loginBtnConfig" />
    </form>
    } @if (info.mode === 'register') {
    <form class="signup-form" (ngSubmit)="onSignupSubmit()">
      @for (key of objectKeys(registerFormConfig); track key) { @if
      (registerFormConfig[key].field === 'input') {
      <app-input [config]="registerFormConfig[key]" />
      } @else if (registerFormConfig[key].field === 'checkbox') {
      <div class="terms-section">
        <app-checkbox [config]="registerFormConfig[key]"></app-checkbox>
      </div>
      } }
      <div class="login-info">
        Already have an account? You can login from
        <a class="link" (click)="toggleLoginSignupForm()"> here </a>
      </div>
      <app-button [config]="registerBtnConfig" />
    </form>
    }
  </div>
</div>
